body{
	height: 100%;
	margin: 0px;
	font-family: calibri;
	font-weight: normal;
}

html {
  height: 100%;
}

.container{
	max-width: 1128px;
   margin: 0 auto;
   
}

img, picture {
   max-width: 100%;
}

.menu{
	background-color: rgb(27,32,38);
	height: 50px;
	position: relative;
}

.menu img {
	width: 100px;
	height: 50px;
}

.menu ul {
	list-style: none;
	float: right;
	margin: 0px;

}

.menu ul li {
	display: inline;
}

.menu ul li:last-child{
	margin-right: 100px;
}

.menu ul li a {
	font-family: calibri;
	display: inline-block;
	text-decoration: none;
	margin: 15px;
	color: rgb(121,144,150);
}

/**
#one, #two, #tree, #four{
	height: 100%;
	width: 100%;
}**/

#one{
	background:rgba(255,77,77 ,1);
   	height: 100vh;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
 }

#two{
	background: #fff;
	background-size: 100% 100%;
}

#tree{
	margin-top: 100px;
	background: rgb(250,250,250);
}
#four{
	background: rgb(0,113,191);
}
.art_sobre{
	position: relative;
	padding-top: 150px;
	text-align: center;
	color: rgb(137,145,168);
	font-size: 1.5rem;

}


.art_sobre .imagens figure{
  display:inline-block;
  width: 26.404255319149%; 
   margin-right: 2.127659574468%; 
	float: left;
	margin-bottom: 120px;

}


.art_sobre .imagens figure h3 {
	margin: 10px;
}
.art_sobre .imagens figure p {
	margin: 0px;
	font-size: 1.2rem;
}
#sobreWeb {
	text-align: justify;
	margin-top: 100px;
	margin: 0 auto;
	clear: both;
}

#sobreWeb h2{
	margin-bottom: 20px;
}

#sobreWeb p {
	font-size: 1.2rem;
	margin-top: 0px;
}

#sobreWeb small{
	font-size: 1rem;
}

.content-left{
	width: 46.404255319149%; 
   margin-right: 2.127659574468%; 
	float: left;
	font-family: calibri;
	font-weight: normal;
	margin-top: 20%;
	color: #fff;
}

.content-left h1{
	font-size: 3.5rem;
	margin: 10px;
}


.content-left h5 {
	margin: 10px;
	font-size: 1.2rem;

}

.content-right {
margin-right: 0;
text-align: right;

	
}

.content-right img{
	margin-top: 10%;
	margin-bottom: 10%;
		
}

.seta:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
  width: 0; 
  height: 0; 

  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid rgba(255,77,77 ,1);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}




.art_preco{

	text-align: center;
	padding: 80px 0px 150px 0px;
	margin: 0 auto;
           width: 100%;
           height: auto;
}



.art_preco table{
	text-align: center;
	margin: 0 auto;
	border-spacing: 0px;
	color: #fff;
	width: 100%;
}

.art_preco table caption {
	color: rgb(137,145,168);
	font-size: 2.5rem;
	margin-bottom: 0px;
	text-align: left;

}

table tr th{
	padding: 25px 0px 25px 0px;
	width: 350px;
}

table tr th strong{
	font-size: 2rem;
}

table tr th:nth-child(1){
	background: rgb(255,75,30); 
}
table tr th:nth-child(2){
	background: rgb(0,113,191); 
}
table tr th:nth-child(3){
	background: rgb(253,200,0); 
}

table tr td{
	padding: 20px
}

.html5{
	background: rgb(255,101,31);
}

.css{
	background: rgb(1,172,226);
}

.js{
	background: rgb(255,224,1);
}

#buy_buttons td{
	padding: 20px 0px 40px 0px;
}

table tr td a {
	border: 2.5px solid #fff;
	border-radius: 100px;
	padding: 10px 20px 10px 20px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

table tr td a:hover{
	background-color: #fff;
}

.html5 a:hover{
	color: rgb(255,101,31);

}

.css a:hover{
	color: rgb(1,172,226);
}

.js a:hover{
	color: rgb(255,224,1);
}

/*table tr td a:nth-child(1):hover{
	color: rgb(255,101,31);
}
table tr td a:nth-child(2):hover{
	color: rgb(1,172,226);
}
table tr td a:nth-child(3):hover{
	color: rgb(255,224,1);

}*/

.art_contato{
	padding: 80px 0px 80px 0px;
	color: #fff;

}

.art_contato h2{
	font-size: 2.5rem;
	font-weight: normal;
}

.art_contato form input,textarea {
	margin-bottom: 20px;
	display: block;
	width: 38%;
	height: 30px;
	background: rgb(0,101,171);
	border-width: 0px 0px 1px 0px;
	padding-left: 10px;
	
}

/* Alterando a cor da propriedade placeholder para cada navegador */
::-webkit-input-placeholder { 
    color: rgb(97,154,207);
}
:-moz-placeholder {
   color: rgb(97,154,207);
}
::-moz-placeholder { 
   color: rgb(97,154,207);
}
:-ms-input-placeholder { 
   color: rgb(97,154,207);
}

.art_contato form textarea{
	height: 200px;
}

.art_contato form a{
	border: 2px solid #fff;
	border-radius: 100px;
	padding: 10px 30px 10px 30px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.art_contato form a:hover{
	color: rgb(0,113,191);
	background-color: #fff;
}

footer{
	background-color: rgb(27,32,38);
	position: relative;

}

footer a {
	 position: fixed;
    bottom: 30px;
    right: 30px; 
    font-size: 2rem;
	border-radius: 50%;
	background:rgba(255,77,77 ,1);
	text-decoration: none;
	padding: 10px 20px 5px 20px;
	color: #fff;
	font-weight: normal;

}

.rodape{
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 1;

}
.rodape img{
	width: 100px;
	height: 50px;
	line-height: 100px;

}



.rodape span{
	float: right;
	padding: 10px;
	color: rgb(137,145,168);
}